.post{
    width: 385px;
    margin: 0px 25px 40px 25px;
}

.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin-top: 15px;
    cursor: pointer;
}


.postDate{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
}

.postDescription{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    cursor: pointer;
}