.write{
    padding-top: 50px;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeInput{
    font-size: 20px;
    padding: 20px;
    width: 70vw;
}

.writeText{
    font-size: 15px;
    height: 50vh;
}

.writeSubmit{
    position: absolute;
    right: 425px;
    color: white;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}